<header class="app-header" data-ng-include="'views/include/header.html'"></header>

<section class="app-section">
  <div class="app-user-area" data-ng-include="'views/include/balance.html'"></div>

  <div class="app-content">
    <table data-ng-show="history" class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Preço</th>
          <th>kWh</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="h in history">
          <td>{{ $index + 1 }}</td>
          <td>R${{ h.price }}</td>
          <td>{{ h.consumed }}kWh</td>
        </tr>
      </tbody>
    </table>

    <button data-ng-click="goToCredit()" class="btn btn-block btn-lg btn-success">Comprar crédito</button>
    <button data-ng-click="goToDebit()" class="btn btn-block btn-lg btn-default">Debitar usuário</button>
  </div>
</section>
