<section class="app-section">
  <div class="app-user-area" data-ng-include="'views/include/balance.html'"></div>

  <div class="app-content">
    <bar id="chart" data="graph" class="bar-chart"></bar>

    <table data-ng-show="history" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Preço</th>
          <th class="text-center">kWh</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="h in history">
          <td class="text-center">{{ $index + 1 }}</td>
          <td class="text-center">R$<strong>{{ h.price }}</strong></td>
          <td class="text-center"><strong>{{ h.consumed }}</strong>kWh</td>
        </tr>
      </tbody>
    </table>

    <div class="credit-buttons">
      <button title="Comprar crédito" data-ng-click="goToCredit()" class="btn btn-block btn-lg btn-success">Adicionar crédito</button>
      <button data-ng-click="goToDebit()" class="btn btn-block btn-lg btn-default">Debitar usuário</button>
    </div>
  </div>
</section>
