<header class="app-header" data-ng-include="'views/include/header.html'"></header>

<section class="app-section">
  <div class="app-user-area" data-ng-include="'views/include/balance.html'"></div>

  <div class="app-content">
    <div class="credit-buttons">
      <button data-ng-click="debit()"  class="btn btn-lg btn-block btn-yellow">Debitar diaria</button>
      <button data-ng-click="reset()"  class="btn btn-lg btn-block btn-danger">Limpar histórico</button>
      <button data-ng-click="goBack()" class="btn btn-lg btn-block btn-default">Cancelar</button>
    </div>
  </div>
</section>
