<header class="app-header" data-ng-include="'views/include/header.html'"></header>

<section class="app-section">

  <div class="app-content">
    <h4>Selecione a quantia que deseja carregar:</h4>
    <div class="row ">
      <div class="col-xs-6">
        <button data-ng-click="back()" class="btn btn-block btn-default">R$ 5</button>
      </div>
      <div class="col-xs-6">
        <button data-ng-click="back()" class="btn btn-block btn-default">R$ 10</button>
      </div>
      <div class="col-xs-6">
        <button data-ng-click="back()" class="btn btn-block btn-default">R$ 20</button>
      </div>
      <div class="col-xs-6">
        <button data-ng-click="back()" class="btn btn-block btn-default">R$ 50</button>
      </div>
    </div>

    <button data-ng-click="back()" class="btn btn-lg btn-block btn-success">Comprar</button>
    <button data-ng-click="back()" class="btn btn-lg btn-block btn-default">Cancelar</button>
  </div>
</section>
