.box-sizing {
  box-sizing: border-box;
  -mox-box-sizing: border-box;
}
.animate-enter,
.animate-leave {
  -webkit-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}
.animate-enter {
  left: 100%;
}
.animate-enter.animate-enter-active {
  left: 0;
}
.animate-leave {
  left: 0;
}
.animate-leave.animate-leave-active {
  left: -100%;
}
body {
  background: #27aaaf;
}
/*
 * Login
 */
.login-area {
  background: url(../img/logo.png) no-repeat center top;
  color: #ffffff;
  margin: 15px auto 0 auto;
  padding: 150px 20px 20px 20px;
  width: 80%;
}
.btn-yellow {
  background: #fdc06f;
  border-color: #fc9f24;
  color: #ffffff;
}
.btn-yellow:hover {
  background: #fc9f24;
  color: #ffffff;
}
/* Header */
.app-header {
  border-bottom: solid 2px #fdc06f;
  height: 50px;
}
.app-header .logo {
  background: url(../img/logo-header.png) no-repeat center center;
  display: block;
  float: left;
  height: 30px;
  margin: 8px 20px;
  width: 78px;
  overflow: hidden;
  text-indent: -100%;
}
/* Section */
.app-section {
  background: #e6e6e6;
  min-height: 500px;
}
/* Content */
.app-content {
  padding: 20px;
}
/* User balance */
.app-user-area {
  background: #ffffff;
  border-bottom: solid 2px #cdcdcd;
  color: #fdc06f;
  padding: 10px 20px;
}
.user-balance {
  font-size: 1.5em;
  line-height: 1.8em;
  box-sizing: border-box;
  -mox-box-sizing: border-box;
  min-height: 45px;
}
.user-balance strong {
  font-size: 2em;
}
/* Credit */
.credit-radio {
  display: none;
}
.credit-area .col-xs-6 {
  margin: 10px 0;
}
.credit-btn:hover,
.credit-btn:focus,
.credit-btn.credit-selected {
  background: #fdc06f;
  border-color: #fc9f24;
  color: #b76903;
  font-weight: bold;
}
.credit-buttons {
  margin-top: 30px;
}
.card-select {
  font-size: 1.4em;
}
.loader {
  background: url(../img/loader.gif) no-repeat center center rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
