@import 'variables';
@import 'mixings';
@import 'include/animation';

body {
  background: @grayLight;
  position: relative;
}


.bg-green {
  background: @green;
}

/*
 * Login
 */
.login-area {
  background: url(../img/logo.png) no-repeat center top;
  color: @white;
  margin: 15px auto 0 auto;
  padding: 150px 20px 20px 20px;
  width: 80%;
}

.btn-yellow {
  background: @yellow;
  border-color: darken(@yellow, 15%);
  color: @white;

  &:hover {
    background: darken(@yellow, 15%);
    color: @white;
  }
}


/* Header */
.app-header {
  background: @green;
  border-bottom: solid 2px @yellow;
  height: 50px;

  .logo {
    background: url(../img/logo-header.png) no-repeat center center;
    display: block;
    float: left;
    height: 30px;
    margin: 8px 20px;
    width: 78px;
    overflow: hidden;
    text-indent: -100%;
  }
}


/* Section */
.app-section {
  background: @grayLight;
}


/* Content */
.app-content {
  padding: 20px;
}


/* User balance */
.app-user-area {
  background: @white;
  border-bottom: solid 2px darken(@grayLight, 10%);
  color: @yellow;
  padding: 10px 20px;
}

.user-balance {
  font-size: 1.5em;
  line-height: 1.8em;
  .box-sizing();
  min-height: 45px;

  strong {
    font-size: 2em;
  }
}


/* Credit */
.credit-radio {
  display: none;
}

.credit-area {
  .col-xs-6 {
    margin: 10px 0;
  }
}

.credit-btn {
  &:hover,
  &:focus,
  &.credit-selected {
    background: @yellow;
    border-color: darken(@yellow, 15%);
    color: darken(@yellow, 35%);;
    font-weight: bold;
  }
}

.credit-buttons {
  margin-top: 30px;
}

.card-select {
  font-size: 1.4em;
}


//Loader
.loader {
  background: url(../img/loader.gif) no-repeat center center @whiteAlpha;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 10;
}


//Chart
.bar-chart {
  width: 100%;
  max-width: 100%;
}
